body {
   font-family: 'Inter', sans-serif;
   color: #E4E5EA;
   background: var(--black, #0E1014);
   background-image: url(/images/backgorund-2.png);
   background-repeat: no-repeat;
   background-position-x: center;
}

$fs-medium: 18px;

.container {
   max-width: 1440px;
   padding: 0 150px;
   margin: 0 auto;
}

a {
   text-decoration: none;
   color: #E4E5EA;
   transition: color .2s ease-in;
}

ul,
li,
p {
   margin: 0;
   padding: 0;
}

ul,
li {
   list-style-type: none;

}

span {
   font-size: $fs-medium;
}

h1,
h2,
h3,
h4 {
   margin: 0;
}

.mt-30 {
   @media screen and (max-width:576px) {
      margin-top: 30px;
   }

}

.header {
   &__row {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: 45px;
   }

   &__logo {
      max-width: 140px;
      cursor: pointer;

      span {
         font-size: 10px;
         font-weight: 300;
         font-family: 'Montserrat';
         line-height: normal;
      }
   }

   &__nav {
      list-style-type: none;
      max-width: 500px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 10px;

      a {
         &:hover {
            color: #FCB045;
         }
      }
   }

   &__contacts {
      display: flex;
      align-items: center;

      a {
         white-space: nowrap;

         &:hover {
            color: #FCB045;
         }
      }

      .socials {
         margin-left: 47px;

         a {
            transition: opacity .2s ease-in;

            &:hover {
               opacity: .8;
            }

            &:not(:last-child) {
               margin-right: 30px;
            }
         }
      }
   }
}

.welcome {
   &__row {
      margin: 100px 0 120px 0;
      display: flex;
      justify-content: space-between;
   }

   &__title {
      max-width: 360px;

      h1 {
         font-weight: 400;
         font-size: 48px;
      }

      span {
         background: var(--gradient, linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%));
         background-clip: text;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         font-size: 48px;
         font-weight: 900;
      }
   }

   &__subtitle {
      font-size: 18px;
      font-family: 'Montserrat';
      font-weight: 400;
      max-width: 275px;
      margin: 30px 0 0 0;
   }

   &__info {
      max-width: 290px;
      text-align: end;
      display: flex;
      flex-direction: column;
      align-items: end;

      &--title {
         font-size: $fs-medium;
         font-weight: 500;
         margin-bottom: 40px;

         span {
            background: var(--gradient, linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-transform: uppercase;
            font-weight: 700;
         }
      }

      &--block {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         margin-bottom: -30px;

         &>div {
            padding-bottom: 30px;
         }

         &s {
            max-width: 135px;

            h3 {
               font-weight: 500;
               text-transform: uppercase;
               margin-bottom: 6px;
            }

            &--mobile {
               display: none;
            }
         }
      }

      &--btn {
         background: #4077F3;
         max-width: 260px;
         width: 100%;
         height: 60px;
         display: flex;
         align-items: center;
         justify-content: center;
         cursor: pointer;
         transition: background-color .2s ease-in;
         margin-top: 60px;

         &:hover {
            color: white;
            background-color: #235CDE;
         }
      }
   }
}

.footer {
   &__top {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   &__block {
      li:not(:last-child) {
         margin-bottom: 10px;
      }

      &--title {
         text-transform: uppercase;
         color: #656566;
         margin-bottom: 20px;
         font-weight: 700;
         font-size: 14px;
      }

      a {
         &:hover {
            color: #FCB045;
         }
      }

      &--menu {
         display: flex;

         ul:first-child {
            margin-right: 50px;
         }
      }


   }

   &__contacts {

      .socials {
         margin: 20px 0;

         a {
            transition: opacity .2s ease-in;

            &:not(:last-child) {
               margin-right: 10px;
            }
         }

         a:hover {
            opacity: .8;
         }
      }
   }

   &__bottom {
      display: flex;
      justify-content: end;
      margin: 70px 0 20px 0;

      &--breadcrumbs {
         font-size: 12px;
         font-family: 'Montserrat';
         max-width: 240px;

         a {
            text-decoration-line: underline;
         }
      }
   }
}

@media screen and (max-width:1300px) {
   .header {
      &__contacts {
         flex-direction: column;

         .socials {
            margin: 20px 0 0 0;
            display: flex;
            flex-wrap: nowrap;
         }
      }
   }
}

@media screen and (max-width:1200px) {
   .header {
      &__contacts {
         flex-direction: column;

         .socials {
            margin: 20px 0 0 0;
            display: flex;
            flex-wrap: nowrap;
         }
      }
   }

   .footer {
      &__block {
         width: 50%;
      }

      &__contacts {
         margin-top: 40px;
      }
   }
}

@media screen and (max-width:991px) {
   .container {
      padding: 0 15px;
   }

   .header {
      &__contacts {
         display: none;
      }

      &__nav {
         padding: 0 0 0 50px;
         max-width: 100%;
      }
   }
}

@media screen and (max-width:768px) {
   .header {
      &__logo {
         display: none;
      }

      &__nav {
         padding: 0;
      }
   }

   .welcome {
      &__row {
         flex-direction: column;
         margin: 80px 0 100px 0;
      }

      &__info {
         margin-top: 40px;
         text-align: left;
         align-items: flex-start;
      }
   }

   .footer {
      font-size: 15px;
   }
}

@media screen and (max-width:576px) {
   body {
      background-image: none;
   }

   .header {
      &__row {
         margin-top: 0;
         height: 55px;
         align-items: center;
      }

      &__nav {
         font-size: 12px;
         text-transform: uppercase;
      }

      .mobile-none {
         display: none;
      }
   }

   .welcome {
      background-image: url(/images/bg-mobile.png);
      background-repeat: no-repeat;
      background-size: cover;

      &__row {
         margin: 0;
         padding: 40px 0 55px 0;
      }

      &__title {
         max-width: 272px;

         h1,
         span {
            font-size: 36px;
         }
      }

      &__info {
         text-align: left;

         &--blocks {
            width: 50%;

            h3 {
               display: none;
            }

            p {
               display: none;
            }

            &--mobile {
               text-transform: uppercase;
               font-family: 'Montserrat';
               display: block;
               font-size: 13px;
               display: flex;

               img {
                  margin-right: 5px;
               }
            }
         }

         &--btn {
            display: none;
         }
      }
   }

   .footer {
      margin: 45px 0 60px 0;

      &__block {
         width: 100%;

         &--menu {
            margin-top: 30px;
         }
      }

      .socials {
         margin: 10px 0;
      }

      &__bottom {
         justify-content: flex-start;
      }
   }
}